.root {
  display: flex;
  margin-top: 10px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-left: 17px;
}

.avatar {
  margin-right: 15px;
}

.form {
  width: 100%;
  @media (max-width: 500px) {
    max-width: 67vw;
  }

  button {
    margin-top: 10px;
  }
}

.captcha {
  margin-top: 30px;
  margin-bottom: 10px;
  @media (max-width: 500px) {
    transform: scale(0.77);
    transform-origin: 0 0;
    margin-bottom: -10px;
  }
}
